.footer {
  display: flex;
  justify-content: center;
}

.footer__copyright {
  width: 104px;
  height: 16px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: rgba(33, 33, 33, 0.7);
  margin-top: 60px;
  margin-bottom: 60px;
}
