.modal {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
}

.modal__container {
  background-color: white;
  padding: 32px 50px 0;
  width: min-content;
  height: min-content;
  border-radius: 8px;
}

@media screen and (max-width: 750px) {
  .modal__container {
    width: 300px;
    padding: 12px;
  }
}
