.profile {
  display: flex;
  flex-direction: row;
  padding: 34px 0px 20px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
  margin-bottom: 20px;
}

.profile__image {
  height: 190px;
  width: 190px;
  margin-right: 20px;
  border-radius: 8px;
}

.profile__overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 190px;
  width: 190px;
  margin-right: 20px;
  border-radius: 8px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.profile__overlay:hover {
  opacity: 1;
}

.profile__edit-avatar-icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
  height: 190px;
  max-width: 420px;
}

.profile__edit-avatar-btn {
  display: flex;
  color: rgba(255, 255, 255, 1);
  margin: 0;
  height: 16px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0%;
  background-color: transparent;
  padding: 0;
  margin-bottom: 12px;
  cursor: pointer;
}

.profile__edit-icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.profile__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: 0%;
  margin: 0 0 12px;
  color: rgba(33, 33, 33, 1);
  text-overflow: ellipsis;
  overflow: clip;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__description {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  margin: 0 0 auto;
  color: rgba(33, 33, 33, 0.7);
  text-overflow: ellipsis;
  overflow: clip;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__edit-btn {
  display: flex;
  margin: 0;
  height: 16px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0%;
  opacity: 0.7;
  background-color: transparent;
  padding: 0;
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;
}

.profile__edit-btn:hover {
  opacity: 1;
}

.profile__new-btn {
  width: 149px;
  height: 52px;
  padding: 18px 32px;
  border-radius: 8px;
  border: none;
  background-color: black;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0%;
  color: #fcf5e5;
  align-self: end;
  margin-left: auto;
  white-space: nowrap;
  transition: background-color 0.5s ease;
  cursor: pointer;
}

.profile__new-btn:hover {
  background-color: rgba(33, 33, 33, 0.8);
}

@media screen and (max-width: 627px) {
  .profile {
    display: block;
    justify-items: center;
    margin-bottom: 0;
    padding-top: 20px;
  }

  .profile__image {
    width: 80px;
    height: 80px;
    margin-right: 0;
  }

  .profile__overlay {
    opacity: 1;
    width: min-content;
    height: min-content;
    padding: 4px;
    margin: 0;
    position: relative;
    top: 74.34px;
    left: 23.34px;
  }

  .profile__edit-avatar-btn {
    margin-bottom: 0;
  }

  .profile__edit-avatar-icon {
    margin-right: 0;
  }

  .profile__edit-avatar-btn .text {
    display: none;
  }

  .profile__title {
    font-size: 20px;
    line-height: 1;
    margin-bottom: 6px;
  }

  .profile__column {
    text-align: center;
    height: auto;
  }

  .profile__edit-btn {
    margin: 0 auto 20px auto;
  }

  .profile__description {
    margin: 0 0 32px;
  }

  .profile__new-btn {
    display: block;
    width: 100%;
    margin-left: 0;
  }
}
